body{
    background-color: rgb(63, 221, 197); /*background-color es para color de fondo*/
}
h1{
    background-color: rgb(46, 66, 9);
    color: rgb(250, 250, 246);/*color es para aplicar color al texto*/


}
h2{
     font: size 25px; ;
     background-color: rgb(151, 12, 12);
 i{color: crimson;}
     
}
i{
    color: black;
}